*{
    margin: 0px;
    padding: 0px;
}
#main{
    width: 500px;
    height: 750px;
    background-color: rgb(131, 131, 131);
    position: fixed;
    left: 38%;
    top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#screen{
    width: 89.5%;
    height: 120px;
    background-color: rgb(182, 182, 239);
    border-radius: 15px;
}
#buttons{
    width: 100%;
    height: 567px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: rgb(83, 83, 129,0.15);
    color: rgb(199, 199, 199);
    border-radius: 50%;
    width: 93%;
    height: 93%;
    font-size: 180%;
    font-weight: 700;
}
.button:hover{
    width: 96%;
    height: 96%;
}
.button:active{
    width: 89%;
    height: 89%;
}
#screen{
    font-size: 200%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;  
    color: rgb(54, 87, 35);  
    text-align: end; 
    overflow-x: auto;
    box-sizing: border-box;
    padding: 40px;
}